h1 {
    font-family: Arial, sans-serif; /* Escolha uma fonte adequada */
    font-size: 36px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Espaçamento abaixo do elemento */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra do texto */
    border: 2px solid #333; /* Borda sólida de 2px com a cor #333 */
    padding: 10px 20px; /* Preenchimento interno */
    border-radius: 10px; /* Raio de curvatura da borda */
}
