.lojinha-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Escolha uma fonte adequada */
    font-size: 2.5em; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 20px; /* Espaçamento abaixo do elemento */
}

.lojinha-title i {
    font-size: 1.5em; /* Tamanho do ícone */
    vertical-align: middle; /* Alinhamento vertical */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.loja-header {
    background-color: #4CAF50; /* Cor de fundo do cabeçalho */
    padding: 20px; /* Espaçamento interno */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
}

.loja-title {
    font-size: 2em; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.loja-title i {
    font-size: 1.5em; /* Tamanho do ícone */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.loja-nav ul {
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0; /* Remove preenchimento padrão da lista */
}

.loja-nav ul li {
    display: inline; /* Coloca os itens da lista lado a lado */
    margin-right: 20px; /* Espaçamento entre os itens */
}

.loja-nav ul li a {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}

.loja-nav ul li a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


/* Estilo para o rodapé */
footer.bg-dark {
    background-color: #28a745 !important; /* Verde */
    color: #fff !important; /* Branco */
}

footer.bg-dark a {
    color: #fff !important; /* Branco */
}

footer.bg-dark a:hover {
    color: #f8f9fa !important; /* Branco mais claro quando hover */
}

.produto-item{
    color: red;
    font-weight: bold;
}
